name: Generated code is up to date

on:
  pull_request:
    paths:
      - '.github/workflows/**'
      - 'docs/**'
      - 'bindings/**'
      - 'scip.proto'
      - 'buf**'
      - 'flake.nix'
      - 'flake.lock'
      - 'cmd/scip/tests/reprolang/**'

jobs:
  gen-up-to-date:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Regenerate protobuf bindings
        run: nix run .#proto-generate
      - run: git diff --exit-code
